<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <ui:define name="content">
        <f:loadBundle basename="pl.bdp.project.messages" var="msg"/>
        <p:growl id="message" showDetail="true" sticky="true" />
        <h:form id="categoryForm">


        <p:dataTable id="categoryTable" value="#{categoriesView.categoryList}"
                     var="category" editable="true" editMode="cell">
            <p:ajax event="cellEdit" listener="#{categoriesView.onCellEdit}" update="message" process="@form"/>
            <p:column headerText="#{msg.id}" rendered="false">
                <h:outputText value="#{category.id}"/>
            </p:column>

            <p:column headerText="#{msg.categoryName}">
                <p:cellEditor>
                    <f:facet name="output"><h:outputText value="#{category.name}"/></f:facet>
                    <f:facet name="input"><p:inputText value="#{category.name}"/> </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="#{msg.action}">
                    <p:commandButton value="#{msg.delete}" update="message categoryTable" actionListener="#{categoriesView.removeCategory(category)}">
                        <p:confirm header="#{msg.confirmation}" message="#{msg.areYouSure}" icon="ui-icon-alert" />
                    </p:commandButton>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="#{msg.yes}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="#{msg.no}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
            </p:column>

        </p:dataTable>
        </h:form>

        <h:form enctype="multipart/form-data" id="newCategory">
            <p:inputText id="category" value="#{categoriesView.category.name}"/>
            <p:focus for="category"/>
            <p:commandButton value="#{msg.addCategory}" update="message :categoryForm:categoryTable newCategory"
                             actionListener="#{categoriesView.addCategory}"/><br/>
            <h:message for="category"/><br/>
        </h:form>

        <div style="position: absolute; bottom: 0; background: white;">
        #{msg.tipsChange} <br/>
        #{msg.tipsChangeCancel}
        </div>
    </ui:define>

</ui:composition>
