<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <ui:define name="content">
        <f:loadBundle basename="pl.bdp.project.messages" var="msg"/>
        <p:growl id="message" showDetail="true" sticky="true"/>
        <h:form id="departamentsForm">

            <p:dataTable id="depatmentTable" value="#{departmentsView.departments}"
                         var="department" editable="true" editMode="cell">
                <p:ajax event="cellEdit" listener="#{departmentsView.onCellEdit}" update="message" process="@form"/>
                <p:column headerText="#{msg.id}" rendered="false">
                    <h:outputText value="#{department.id}"/>
                </p:column>

                <p:column headerText="#{msg.departmentName}">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{department.name}"/></f:facet>
                        <f:facet name="input"><p:inputText value="#{department.name}"/> </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column headerText="#{msg.action}">
                    <p:commandButton value="#{msg.delete}" update="depatmentTable message"
                                     actionListener="#{departmentsView.removeDepartment(department)}">
                        <p:confirm header="#{msg.confirmation}" message="#{msg.areYouSure}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="#{msg.yes}" type="button" styleClass="ui-confirmdialog-yes"
                                         icon="ui-icon-check"/>
                        <p:commandButton value="#{msg.no}" type="button" styleClass="ui-confirmdialog-no"
                                         icon="ui-icon-close"/>
                    </p:confirmDialog>
                </p:column>

            </p:dataTable>
        </h:form>

        <h:form enctype="multipart/form-data" id="newDep">
            <p:inputText id="departmment" value="#{departmentsView.department.name}"/>
            <p:focus for="departmment"/>
            <p:commandButton value="#{msg.addDepartment}" update=":departamentsForm:depatmentTable message newDep"
                             actionListener="#{departmentsView.addDepartment}"/>
            <h:message for="departmment"/><br/>
        </h:form>

        <div style="position: absolute; bottom: 0; background: white;">
            #{msg.tipsChange} <br/>
            #{msg.tipsChangeCancel}
        </div>

    </ui:define>
</ui:composition>