<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <ui:define name="content">
        <f:loadBundle basename="pl.bdp.project.messages" var="msg"/>
        <p:growl id="message" showDetail="true" sticky="true"/>
        <h:form id="depotsForm">
            <p:dataTable var="depot" value="#{depotsView.depots}" id="depotTable" editMode="cell"
                         editable="true">
                <p:ajax event="cellEdit" listener="#{depotsView.onCellEdit}" update="message" process="@form"/>

                <p:column headerText="#{msg.id}" rendered="false">
                    <h:outputText value="#{depot.id}"/>
                </p:column>

                <p:column headerText="#{msg.depotName}">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{depot.name}"/></f:facet>
                        <f:facet name="input"><p:inputText value="#{depot.name}"/> </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:column headerText="#{msg.action}">

                        <p:commandButton value="#{msg.delete}" actionListener="#{depotsView.removeDepot(depot)}"
                                         update="message depotTable">
                            <p:confirm header="#{msg.confirmation}" message="#{msg.areYouSure}" icon="ui-icon-alert"/>
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="#{msg.yes}" type="button" styleClass="ui-confirmdialog-yes"
                                             icon="ui-icon-check"/>
                            <p:commandButton value="#{msg.no}" type="button" styleClass="ui-confirmdialog-no"
                                             icon="ui-icon-close"/>
                        </p:confirmDialog>

                </p:column>

            </p:dataTable>
        </h:form>

        <h:form id="newDepot">
            <p:inputText id="depot" value="#{depotsView.depot.name}"/>
            <p:focus for="depot"/>
            <p:commandButton value="#{msg.addDepot}" actionListener="#{depotsView.addDepot}"
                             update="message :depotsForm:depotTable newDepot"/>
            <h:message for="depot"/><br/>
        </h:form>

        <div style="position: absolute; bottom: 0; background: white;">
            #{msg.tipsChange} <br/>
            #{msg.tipsChangeCancel}
        </div>

    </ui:define>
</ui:composition>
