<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:metadata>
    <f:viewParam name="itemId" value="#{itemEdit.itemId}"/>
</f:metadata>
<h:head>
    <f:loadBundle basename="pl.bdp.project.messages" var="msg"/>

</h:head>
<h:body>
    <h:form enctype="multipart/form-data">
        <p:panel header="#{msg.editItem}">
            <h:panelGrid columns="2">
                <h:outputLabel for="name" value="#{msg.name}"/>
                <p:inputText id="name" value="#{itemEdit.item.name}" placeholder="#{msg.name}"/>
                <h:outputLabel for="category" value="#{msg.category}"/>
                <p:selectOneMenu id="category" value="#{itemEdit.item.category}" converter="categoryConverter">
                    <f:selectItem itemLabel="-----" itemValue="#{null}" noSelectionOption="true"/>
                    <f:selectItems value="#{categoriesView.categories}"/>
                </p:selectOneMenu>
                <h:outputLabel for="department" value="#{msg.department}"/>
                <p:selectOneMenu id="department" value="#{itemEdit.item.department}" converter="DepartmentConverter">
                    <f:selectItem itemLabel="-----" itemValue="#{null}" noSelectionOption="true"/>
                    <f:selectItems value="#{departmentsView.departmentsToSelect}"/>
                </p:selectOneMenu>
                <h:outputLabel for="depot" value="#{msg.depot}"/>
                <p:selectOneMenu id="depot" value="#{itemEdit.item.depot}" converter="depotsConverter">
                    <f:selectItem itemLabel="-----" itemValue="#{null}" noSelectionOption="true"/>
                    <f:selectItems value="#{depotsView.selectedDepot}"/>
                </p:selectOneMenu>
                <h:outputLabel for="multipletags" value="#{msg.tags}"/>
                <p:selectCheckboxMenu id="multipletags" value="#{itemEdit.item.tags}" converter="tagConverter"
                                      multiple="true" filter="true" filterMatchMode="startsWith">
                    <f:selectItems value="#{tagsView.tags}"/>
                </p:selectCheckboxMenu>
                <h:outputLabel value="#{msg.photo}"/>
                <p:fileUpload value="#{itemEdit.item.image}" fileLimit="1" fileUploadListener="#{itemEdit.edit}"
                              sizeLimit="10485760"
                              allowTypes="/(\.|\/)(jpe?g|png)$/"
                              invalidSizeMessage="#{msg.invalidSizeMessage}"
                              invalidFileMessage="#{msg.invalidFileMessage}"
                              fileLimitMessage="#{msg.fileLimitMessage}"/>
                <p:commandButton value="#{msg.update}" actionListener="#{itemEdit.saveItem}"
                                 oncomplete="itemspf.xhtml?faces-redirect=true"/>
                <p:commandButton value="#{msg.backToList}" action="itemspf.xhtml?faces-redirect=true"/>
            </h:panelGrid>
        </p:panel>
    </h:form>
</h:body>
</html>
