<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:loadBundle basename="pl.bdp.project.messages" var="msg"/>
</h:head>
<p:panel>
    <p:panelGrid>
        <p:outputLabel value="#{msg.loginFailed}"/>
        <br></br><br></br>
        <p:button value="#{msg.tryAgain}" outcome="login.xhtml?faces-redirect=true"/>
        <p:button value="#{msg.home}" outcome="itemspf.xhtml?faces-redirect=true"/>
    </p:panelGrid>
</p:panel>
</html>
