<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        template="/template.xhtml"
        xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <f:loadBundle basename="pl.bdp.project.messages" var="msg"/>

        <h:form id="tableForm">

            <p:dataTable var="item" value="#{itemsviewpf.items}" id="itemsTable" widgetVar="itemsTable"
                         emptyMessage="#{msg.emptySearchMessage}"
                         selection="#{itemsviewpf.selectedItems}" rowKey="#{item.id}"
                         stickyHeader="true" filteredValue="#{itemsviewpf.filteredItems}">

                <f:facet name="header">
                    <p:outputPanel style="text-align: left">
                        <!--<h:outputText value="#{msg.searchAllFields}"/>-->
                        <!--<p:inputText id="globalFilter" onkeyup="PF('itemsTable').filter()" placeholder="#{msg.keyword}" />-->
                        <!--<p:commandButton id="toggler" type="button" style="float:right" value="Columns"  icon="ui-icon-calculator" />-->
                        <!--<p:columnToggler datasource="itemsTable" trigger="toggler"  />-->
                    </p:outputPanel>
                </f:facet>

                <p:column filterBy="#{item.id}" headerText="#{msg.id}" filterMatchMode="contains" rendered="false">
                    <h:outputText value="#{item.id}"/>
                </p:column>

                <p:column filterBy="#{item.name}" headerText="#{msg.name}" filterMatchMode="contains" sortBy="#{item.name}">
                    <h:outputText value="#{item.name}"/>
                </p:column>

                <p:column headerText="#{msg.depot}" filterBy="#{item.depot}" filterMatchMode="exact">
                    <f:facet name="filter">
                        <p:selectOneMenu converter="depotsConverter" onchange="PF('itemsTable').filter()">
                            <f:selectItem itemLabel="-----" itemValue="#{null}" noSelectionOption="true"/>
                            <f:selectItems value="#{itemsviewpf.depotsToSelect}"/>
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{item.depot.name}"/>
                </p:column>

                <p:column headerText="#{msg.category}" filterBy="#{item.category}" filterMatchMode="contains">
                    <f:facet name="filter">
                        <p:selectOneMenu converter="categoryConverter" onchange="PF('itemsTable').filter()">
                            <f:selectItem itemLabel="-----" itemValue="#{null}" noSelectionOption="true"/>
                            <f:selectItems value="#{itemsviewpf.categoryToSelect}"/>
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{item.category.name}"/>
                </p:column>

                <p:column headerText="#{msg.department}" filterBy="#{item.department}" filterMatchMode="exact">
                    <f:facet name="filter">
                        <p:selectOneMenu converter="DepartmentConverter" onchange="PF('itemsTable').filter()">
                            <f:selectItem itemLabel="-----" itemValue="#{null}" noSelectionOption="true"/>
                            <f:selectItems value="#{itemsviewpf.departmentsToSelect}"/>
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{item.department.name}"/>
                </p:column>

                <p:column filterBy="#{item.tagsToString}" filterFunction="#{itemsviewpf.filterByTag}" >
                    <f:facet name="filter">
                        <p:selectCheckboxMenu showHeader="false" converter="tagConverter" label="Tags" onchange="PF('itemsTable').filter()">
                            <f:selectItems value="#{itemsviewpf.tagsToSelect}"/>
                        </p:selectCheckboxMenu>
                    </f:facet>
                    <h:outputText value="#{item.tagsToString}"/>
                </p:column>

                <p:column headerText="#{msg.date}" sortBy="#{item.date}">
                    <h:outputText value="#{item.date}"/>
                </p:column>

                <p:column headerText="#{msg.photo}">
                    <p:graphicImage value="#{imageDisplay.myImage}" cache="false" style="max-height: 100px" alt="NO-IMAGE" >
                        <f:param name="itemId" value="#{item.id}"/>
                    </p:graphicImage>
                </p:column>

                <p:column headerText="#{msg.actions}" style="width: 150px" rendered="#{roleView.admin || roleView.user}">
                    <p:button style="width: 45%; text-align: center;" value="Edit" outcome="edititem">
                        <f:param name="itemId" value="#{item.id}"/>
                    </p:button>
                    <p:growl id="message" showDetail="true" />
                    <p:commandButton value="#{msg.delete}" actionListener="#{itemsviewpf.removeItem(item)}"
                                     style="width: 50%;"
                                     oncomplete="PF('itemsTable').filter()" process="@form" update="itemsTable message" >
                        <p:confirm header="#{msg.confirmation}" message="#{msg.areYouSure}" icon="ui-icon-alert" />
                    </p:commandButton>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="#{msg.yes}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="#{msg.no}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                </p:column>

                <p:column selectionMode="multiple" style="width:20px; text-align:center" rendered="#{roleView.admin}"/>

            </p:dataTable>

            <p:commandButton value="#{msg.deleteSelected}" actionListener="#{itemsviewpf.deleteSelectedItem()}"
                             style="float:right" rendered="#{roleView.admin}"
                             oncomplete="PF('itemsTable').filter()" update="itemsTable">
                <p:confirm header="#{msg.confirmation}" message="#{msg.areYouSure}" icon="ui-icon-alert" />
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="#{msg.yes}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="#{msg.no}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </p:commandButton>

        </h:form>
        <p:commandButton action="itemaddpf.xhtml?faces-redirect=true" value="+ New Item" rendered="false"/>
        <p:commandButton value="#{msg.addItem}" type="button" onclick="PF('dlg1').show();" rendered="#{roleView.admin or roleView.user}"/>
        <p:dialog resizable="false" header="#{msg.addNewItem}" widgetVar="dlg1" minHeight="40">
            <h:form id="newItem" enctype="multipart/form-data">
                <p:panel>
                    <h:panelGrid columns="2">
                        <h:outputLabel for="name" value="#{msg.name}"/>
                        <p:inputText id="name" value="#{itemsviewpf.item.name}" placeholder="#{msg.name}"/>
                        <h:outputLabel for="category" value="#{msg.category}"/>
                        <p:selectOneMenu id="category" value="#{itemsviewpf.item.category}" converter="categoryConverter">
                            <f:selectItem itemLabel="-----" itemValue="#{null}" noSelectionOption="true"/>
                            <f:selectItems value="#{categoriesView.categories}"/>
                        </p:selectOneMenu>
                        <h:outputLabel for="department" value="#{msg.department}"/>
                        <p:selectOneMenu id="department" value="#{itemsviewpf.item.department}" converter="DepartmentConverter">
                            <f:selectItem itemLabel="-----" itemValue="#{null}" noSelectionOption="true"/>
                            <f:selectItems value="#{departmentsView.departmentsToSelect}"/>
                        </p:selectOneMenu>
                        <h:outputLabel for="depot" value="#{msg.depot}"/>
                        <p:selectOneMenu id="depot" value="#{itemsviewpf.item.depot}" converter="depotsConverter">
                            <f:selectItem itemLabel="-----" itemValue="#{null}" noSelectionOption="true"/>
                            <f:selectItems value="#{depotsView.selectedDepot}"/>
                        </p:selectOneMenu>
                        <h:outputLabel for="multipletags" value="#{msg.tags}"/>
                        <p:selectCheckboxMenu id="multipletags" value="#{itemsviewpf.item.tags}" converter="tagConverter"
                                              multiple="true" filter="true" filterMatchMode="startsWith">
                            <f:selectItems value="#{tagsView.tags}"/>
                        </p:selectCheckboxMenu>

                        <h:outputLabel value="#{msg.photo}"/>
                        <p:fileUpload value="#{itemsviewpf.item.image}" fileLimit="1" fileUploadListener="#{itemsviewpf.upload}"
                                      sizeLimit="10485760"
                                      allowTypes="/(\.|\/)(jpe?g|png)$/"
                                      invalidSizeMessage="#{msg.invalidSizeMessage}"
                                      invalidFileMessage="#{msg.invalidFileMessage}"
                                      fileLimitMessage="#{msg.fileLimitMessage}"/>
                        <p:growl id="messages" showDetail="true" life="5000"/>
                        <p:commandButton value="#{msg.add}" actionListener="#{itemsviewpf.addItem}" oncomplete="PF('itemsTable').filter()"
                                         update="newItem :tableForm:itemsTable" onclick="PF('dlg1').hide();"/>
                    </h:panelGrid>
                </p:panel>
            </h:form>
        </p:dialog>
    </ui:define>
</ui:composition>