<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <!--widok to popupa z dodawaniem itemu-->
    <f:loadBundle basename="pl.bdp.project.messages" var="msg"/>
</h:head>

<h:body>

    <h:form id="newItem" enctype="multipart/form-data">
        <p:panel header="#{msg.addNewItem}">
            <h:panelGrid columns="2">
                <h:outputLabel for="name" value="#{msg.name}"/>
                <p:inputText id="name" value="#{itemsviewpf.item.name}" placeholder="#{msg.name}"/>
                <h:outputLabel for="category" value="#{msg.category}"/>
                <p:selectOneMenu id="category" value="#{itemsviewpf.item.category}" converter="categoryConverter">
                    <f:selectItem itemLabel="-----" itemValue="#{null}" noSelectionOption="true"/>
                    <f:selectItems value="#{categoriesView.categories}"/>
                </p:selectOneMenu>
                <h:outputLabel for="department" value="#{msg.department}"/>
                <p:selectOneMenu id="department" value="#{itemsviewpf.item.department}" converter="DepartmentConverter">
                    <f:selectItem itemLabel="-----" itemValue="#{null}" noSelectionOption="true"/>
                    <f:selectItems value="#{departmentsView.departmentsToSelect}"/>
                </p:selectOneMenu>
                <h:outputLabel for="depot" value="#{msg.depot}"/>
                <p:selectOneMenu id="depot" value="#{itemsviewpf.item.depot}" converter="depotsConverter">
                    <f:selectItem itemLabel="-----" itemValue="#{null}" noSelectionOption="true"/>
                    <f:selectItems value="#{depotsView.selectedDepot}"/>
                </p:selectOneMenu>
                <h:outputLabel for="multipletags" value="#{msg.tags}"/>
                <p:selectCheckboxMenu id="multipletags" value="#{itemsviewpf.item.tags}" converter="tagConverter"
                                      multiple="true" filter="true" filterMatchMode="startsWith">
                    <f:selectItems value="#{tagsView.tags}"/>
                </p:selectCheckboxMenu>
                <h:outputLabel value="#{msg.photo}"/>
                <p:fileUpload value="#{itemsviewpf.item.image}"
                              fileUploadListener="#{itemsviewpf.upload}" />
                <p:commandButton value="#{msg.addItem}"
                                 actionListener="#{itemsviewpf.addItem}"
                                 action="#{itemsviewpf.closeDialog()}"
                                 update="newItem">
                </p:commandButton>

                <p:commandButton value="#{msg.backToList}"
                                 action="#{itemsviewpf.closeDialog()}"
                />
            </h:panelGrid>
        </p:panel>
    </h:form>

</h:body>
</html>