<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:loadBundle basename="pl.bdp.project.messages" var="msg"/>
</h:head>
<h:form id="form" rendered="#{not roleView.admin and not roleView.user}">
    <p:panel>
        <h:panelGrid>
            <h:outputText value="#{msg.username}"/>
            <p:inputText value="#{loginBean.username}" id="username" required="true"/>
            <p:focus for="username"/>
            <h:outputText value="#{msg.password}"/>
            <p:password value="#{loginBean.password}" id="password" required="true"/>
        </h:panelGrid>
        <h:panelGrid>
            <p:commandButton value="#{msg.login}" action="#{loginBean.login}" ajax="false"/>
            <p:button value="#{msg.home}" outcome="itemspf.xhtml?faces-redirect=true"/>
        </h:panelGrid>
    </p:panel>
</h:form>
<h:form rendered="#{roleView.admin or roleView.user}">
    <p:panel>
        <h:panelGrid>
            <h:outputText value="#{msg.alreadyLoggedIn} #{roleView.username}"/>
            <p:commandButton value="#{msg.logout}" actionListener="#{loginBean.logout}" action="itemspf.xhtml?faces-redirect=true"/>
            <p:button value="#{msg.home}" outcome="itemspf.xhtml?faces-redirect=true"/>
        </h:panelGrid>
    </p:panel>
</h:form>
</html>
