<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <f:loadBundle basename="pl.bdp.project.messages" var="msg"/>
</h:head>
<f:view>
    <nav>
        <p:panelGrid>
            <p:button outcome="itemspf" value="#{msg.items}"/>
            <p:button outcome="categories" value="#{msg.categories}" rendered="#{roleView.admin}"/>
            <p:button outcome="departments" value="#{msg.departments}" rendered="#{roleView.admin}"/>
            <p:button outcome="depots" value="#{msg.depots}" rendered="#{roleView.admin}"/>
            <p:button outcome="tags" value="#{msg.tags}" rendered="#{roleView.admin}"/>
            <p:button outcome="users" value="#{msg.users}" rendered="#{roleView.admin}"/>
            <p:outputLabel value="#{msg.loggedIn} #{request.remoteUser}" style="text-align: right"
                           rendered="#{roleView.admin or roleView.user}"/>
            <p:commandButton value="#{msg.logout}" actionListener="#{loginBean.logout}" rendered="#{roleView.admin or roleView.user}"
                             action="itemspf.xhmtl?faces-redirect=true" style="float: right" />
            <p:button value="#{msg.login}" outcome="login.xhmtl?faces-redirect=true" style="float: right"
                        rendered="#{not roleView.admin and not roleView.user}"/>
        </p:panelGrid>
    </nav>
    <section>
        <ui:insert name="content"/>
    </section>
</f:view>
</html>
