<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
        xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:f="http://xmlns.jcp.org/jsf/core"
        xmlns:p="http://primefaces.org/ui"
        template="/template.xhtml">
    <ui:define name="content">
        <f:loadBundle basename="pl.bdp.project.messages" var="msg"/>

        <p:growl id="message" showDetail="true" sticky="true"/>
        <h:form id="usersForm">
            <p:dataTable value="#{usersView.users}" var="user" id="usersTable"
                         editMode="cell" editable="true">
                <p:ajax event="cellEdit" listener="#{usersView.onCellEdit}" update="message" process="@form"/>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="#{msg.id}"/>
                    </f:facet>
                    <h:outputText value="#{user.id}"/>
                </p:column>
                <p:column headerText="#{msg.loginUser}">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{user.login}"/></f:facet>
                        <f:facet name="input"><p:inputText value="#{user.login}"/> </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="#{msg.nameUser}">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{user.name}"/></f:facet>
                        <f:facet name="input"><p:inputText value="#{user.name}"/> </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="#{msg.userSurname}">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{user.surname}"/></f:facet>
                        <f:facet name="input"><p:inputText value="#{user.surname}"/></f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="#{msg.userRole}">
                    <p:cellEditor>
                        <f:facet name="output"><h:outputText value="#{user.role}"/></f:facet>
                        <f:facet name="input"><h:selectOneMenu value="#{user.role}">
                            <f:selectItem itemLabel="USER" itemValue="USER"/>
                            <f:selectItem itemLabel="ADMIN" itemValue="ADMIN"/>
                        </h:selectOneMenu></f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column>

                    <p:commandButton value="#{msg.delete}" actionListener="#{usersView.removeUser(user)}"
                                     update="message usersTable">
                        <p:confirm header="#{msg.confirmation}" message="#{msg.areYouSure}" icon="ui-icon-alert"/>

                    </p:commandButton>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="#{msg.yes}" type="button" styleClass="ui-confirmdialog-yes"
                                         icon="ui-icon-check"/>
                        <p:commandButton value="#{msg.no}" type="button" styleClass="ui-confirmdialog-no"
                                         icon="ui-icon-close"/>
                    </p:confirmDialog>

                </p:column>
            </p:dataTable>
        </h:form>


        <p:commandButton value="#{msg.addUser}" type="button" onclick="PF('dlg1').show();"
                         rendered="#{roleView.admin or roleView.user}"/>


        <p:dialog resizable="false" header="#{msg.addUser}" widgetVar="dlg1" minHeight="40">
            <h:form id="newUser" enctype="multipart/form-data">
                <h:panelGrid columns="2">
                    <h:outputLabel for="error" value="#{msg.loginUser}"/>
                    <p:inputText id="error" value="#{usersView.user.login}"/>
                    <h:outputLabel for="name" value="#{msg.nameUser}"/>
                    <p:inputText id="name" value="#{usersView.user.name}"/>
                    <h:outputLabel for="surname" value="#{msg.userSurname}"/>
                    <p:inputText id="surname" value="#{usersView.user.surname}"/>
                    <h:outputLabel for="password" value="#{msg.password}"/>
                    <p:password id="password" value="#{usersView.user.password}"/>
                    <h:outputLabel for="role" value="#{msg.userRole}"/>
                    <p:selectOneMenu id="role" value="#{usersView.user.role}">
                        <f:selectItem itemLabel="USER" itemValue="USER"/>
                        <f:selectItem itemLabel="ADMIN" itemValue="ADMIN"/>
                    </p:selectOneMenu>
                    <h:message for="error"/><br/>
                    <p:commandButton value="#{msg.add}" update=":usersForm:usersTable message newUser"
                                     oncomplete="PF('dlg1').hide();"
                                     actionListener="#{usersView.addUser}"/>
                </h:panelGrid>
            </h:form>
        </p:dialog>

        <div style="position: absolute; bottom: 0; background: white;">
            #{msg.tipsChange} <br/>
            #{msg.tipsChangeCancel}
        </div>
    </ui:define>
</ui:composition>